html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent; /* Remove any external background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 360px; /* Constrain width to fit in a Chrome extension popup */
  padding: 1.5rem;
  border-radius: 12px; /* Rounded corners */
  background-color: #ffffff; /* Set the background color of the rounded box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for popup */
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
}

.options-button:hover .logo-icon {
  transform: rotate(20deg);
}

.headline {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  white-space: nowrap;
}

.options-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gear-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.options-button:hover .gear-icon {
  transform: rotate(20deg);
}

.dropdown-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.dropdown-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
