html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 1024px;
  height: min-content;
  min-height: 30vh;
  max-height: 90vh;
}

.content {
  /*margin-top: 20px;*/
  display: flex;
  height: auto;
}

.sidebar {
  width: 17%;
  background-color: #f5f5f5;
  box-shadow: inset -1px 0 0 #ccc;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem 1rem 1rem 1.5rem;
  height: auto;
}

.main-content {
  width: 83%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
}

.nav-link {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: normal;
  transition: all 0.2s;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.section-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sections-table {
  width: 100%;
  border-collapse: collapse;
}

.sections-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.refresh-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.status {
  font-weight: bold;
}

.status.connected {
  color: green;
}

.status.disconnected {
  color: red;
}

.refresh-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#refresh-models-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#refresh-models-button:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  .sidebar {
      background-color: dimgray;
  }
  body, .nav-link, .nav-link.active, .status, #refresh-models-button {
    color: #ffffff;
  }
 tbody tr:hover {
    background-color: grey;
  }
}