html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 640px;
  text-align: center;
}

.content {
  margin-top: 40px;
  display: flex;
  height: calc(100% - 60px); /* Adjust for header height */
}

.sidebar {
  width: 17%; /* 1/4 of the total width */
  background-color: #f5f5f5;
  padding: 1rem;
  box-shadow: inset -1px 0 0 #ccc;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1.5rem;
}

.main-content {
  width: 83%;
  padding: 1rem;
  overflow-y: auto;
}

.nav-link {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: normal;
  transition: all 0.2s;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

input[type="checkbox"] {
  transform: scale(1.5); /* Increase checkbox size */
}

tbody tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}