name: Build and Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-release:
    runs-on: ubuntu-latest
    env:
      EXTENSION_ARTIFACT_NAME: llm_companion
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
      - run: pnpm install
      - name: Update version in package.json
        run: pnpm pkg set version=${{ github.ref_name }}
      - run: pnpm exec wxt build --target=chrome-mv3
      - run: pnpm exec wxt build --target=firefox
      - run: pnpm exec wxt zip --target=chrome-mv3 --name $EXTENSION_ARTIFACT_NAME
      - run: pnpm exec wxt zip --target=firefox --name $EXTENSION_ARTIFACT_NAME
      - name: Archive Chrome build
        run: mv .output/chrome-mv3.zip $EXTENSION_ARTIFACT_NAME-chrome-mv3.zip
      - name: Archive Firefox build
        run: mv .output/firefox.zip $EXTENSION_ARTIFACT_NAME-firefox.zip
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ env.EXTENSION_ARTIFACT_NAME }}-chrome-mv3.zip
            ${{ env.EXTENSION_ARTIFACT_NAME }}-firefox.zip
